@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}
/* Default theme (Light) */
:root {
  --color-primary: #3b82f6; /* Blue */
  --color-secondary: #1e40af;
  --color-accent: #e0f2fe;

  --color-background: #ffffff;
  --color-text: #1e293b;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
}

/* Dark theme */
.dark {
  --color-primary: #1e293b; /* Dark Mode */
  --color-secondary: #334155;
  --color-accent: #64748b;

  --color-background: #0f172a;
  --color-text: #f1f5f9;

  --font-sans: 'Arial', sans-serif;
  --font-serif: 'Georgia', serif;
}

/* Theme Blue */
.theme-blue {
  --color-primary: #3b82f6;
  --color-secondary: #1e40af;
  --color-accent: #e0f2fe;

  --color-background: #eff6ff;
  --color-text: #1e293b;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
}

/* Theme Green */
.theme-green {
  --color-primary: #22c55e;
  --color-secondary: #166534;
  --color-accent: #bbf7d0;

  --color-background: #f0fdf4;
  --color-text: #14532d;

  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Georgia', serif;
}

/* Theme Red */
.theme-red {
  --color-primary: #ef4444;
  --color-secondary: #7f1d1d;
  --color-accent: #fecaca;

  --color-background: #fef2f2;
  --color-text: #7f1d1d;

  --font-sans: 'Arial', sans-serif;
  --font-serif: 'Times New Roman', serif;
}
